.col-md-6.col-md-offset-3
  .row
    .panel.panel-default
      .panel-heading
        %h2 Edit Pin

      .panel-body
        %div.text-center
          Current Image
          = image_tag @pin.image.url(:medium), class: "center-block"
        %br/
        %br/
        %br/
        = render 'form'
